

.header{
    grid-area: h;
    background-color: rosybrown;
    }

    .header img{
        width: 120px;
      }

.loginBlock{
  float: right;
  color:aqua;
  margin-right: 100px;
  margin-top: 10px;
}